@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/** colors **/
* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 986px;
  margin: 0 auto;
}

/** NAVBAR **/
.nav {
  display: flex;
  justify-content: space-between;
}
.nav .nav__item {
  text-decoration: none;
  font-size: 1.3em;
  margin-right: 0.5em;
  color: inherit;
  border-bottom: 4px solid transparent;
  transition: 0.3s;
}
.nav .nav__item:hover {
  border-bottom: 4px solid #145DC7;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .project:nth-child(even) .project__info {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
/** PROJECTS **/
.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
  margin-bottom: 4em;
}
@media (max-width: 768px) {
  .project {
    grid-template-columns: 1fr;
    grid-gap: 1em;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}
.project .project__image {
  background: #145DC7;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 1em;
  transition: 0.5s;
}
@media (max-width: 992px) {
  .project .project__image {
    border-radius: 5px 5px 0 0;
  }
}
.project .project__image img {
  width: 100%;
}
.project .project__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}
@media (max-width: 992px) {
  .project .project__info {
    padding: 1em;
  }
}
@media (max-width: 768px) {
  .project .project__info {
    font-size: 0.8em;
  }
}
.project .project__info .project__header {
  display: flex;
  align-items: baseline;
}
.project .project__info .project__header .project__title {
  margin-bottom: 0;
  margin-right: 0.5em;
}
.project .project__info .project__header .project__link {
  display: flex;
  margin-right: 0.5em;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
.project .project__info .project__header .project__link:hover {
  border-bottom: 2px solid #145DC7;
  transition: 0.3s;
}
.project .project__info .project__header .project__link-img {
  width: 1.5em;
}
.project .project__info .project__description {
  font-weight: 500;
}
.project .project__info .project__techs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}
.project .project__info .project__techs .project__tech {
  background: #e2e8f0;
  color: #161623;
  border-radius: 2px;
  font-weight: bold;
  text-align: center;
  font-size: 0.8em;
  padding: 0.3em 1em;
  min-width: 3em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

/** SKILLS **/
.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
.skills img {
  width: 100%;
  max-width: 70px;
  text-align: center;
  margin-bottom: 1em;
}
@media (max-width: 768px) {
  .skills img {
    max-width: 50px;
  }
}

/** CONTACT **/
.contact {
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 10vh;
  /* input wrapper */
  /* submit button */
}
.contact h1 {
  text-align: center;
}
.contact .float {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
  display: block;
  padding-top: 0.9375rem;
  margin-bottom: 1.25rem;
  position: relative;
  /* input */
}
.contact .float .form__item {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  outline: none;
  height: 1em;
  width: 100%;
  margin: 0 0 8px 0;
  padding: 0 0 0.5em 0;
}
.contact .float .form__item:focus {
  border-bottom: 2px solid #145DC7;
  transition: 0.8s;
  outline: none;
}
.contact .float .form__item:not(:placeholder-shown) ~ .form__label, .contact .float .form__item:focus ~ .form__label {
  top: 0;
  font-size: 0.8em;
  color: #161623;
  transition: 0.2s;
}
.contact .float .form__label {
  width: 100%;
  color: #000;
  left: 0.75rem;
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 1em;
  transition: 0.2s;
  cursor: text;
}
.contact .float .form__message {
  height: 1.7em;
}
.contact .float .form__message:valid ~ .form__label, .contact .float .form__message:focus ~ .form__label {
  top: -5px;
}
.contact .submit-form {
  display: flex;
  justify-content: flex-end;
  transition: 0.3s;
}
.contact .submit-form button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100px;
}
.contact .submit-form button .submit-icon {
  margin-left: 1em;
}
.contact .submit-form button .submit-icon path {
  transition: 0.3s ease-in-out;
}
.contact .submit-form button:hover .submit-icon path {
  fill: #145DC7;
  transition: 0.3s ease-in-out;
}

/* floating class for email invalid & not focused  */
.label-floated {
  top: 0 !important;
  font-size: 0.8em !important;
  color: #145DC7 !important;
  transition: 0.2s;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.section-heading .section__underline {
  background: #145DC7;
  border-radius: 3px;
  width: 8em;
  height: 0.5em;
  margin-bottom: 2em;
}
.section-heading h1 {
  margin-bottom: 0;
}

.btn-secondary {
  background-color: #145DC7;
  color: #fff;
  border: 2px solid #145DC7;
  padding: 0.4em;
  border-radius: 2px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: #fff;
  color: #145DC7;
  border: 2px solid #145DC7;
  transition: 0.3s ease-in-out;
}
.btn-secondary:focus {
  outline: none;
}

/*# sourceMappingURL=/app.5f3f5240.css.map */